* {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #232948;
  }


body {
    margin: 0;
}

.container {
    height: 85vh;
    background-color: #cbd9f2;
    display: flex;
    justify-content: center;
}

.header {
    height: 15vh;
    background: #a8c2e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    white-space: nowrap;
}

.start, .reset {
    width: 20%;
    height:60%;
    border: 2px solid #334075;
    background: #334075;
    font-size: 1rem;
    border-radius: 6px;
    color: #cbd9f2;
    margin: 10px;
}

.board {
    height: auto;
    width: 50%;
    background-color: #cbd9f2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 24px;
}

.c {
    border: solid 6px #7ea2dc;
}

.cl, .cr {
    border-top: solid 6px #7ea2dc;
    border-bottom: solid 6px #7ea2dc;
}

.tc, .bc {
    border-left: solid 6px #7ea2dc;
    border-right: solid 6px #7ea2dc;
}

button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
}


img {
    height: 60%;
    width: 60%;
}

.left-container, .right-container {
    width: 25%;
    background: #e2eaf7;
    text-align: center
}

input {
    width: 90%;
    border: none;
    border-bottom: 2px solid #334075;
    background-color: #e2eaf7;
    outline: none;
    font-size: 24px;
    text-align: center;
}

input :focus {
    outline: none;
}

.ready {
    color: #e2eaf7;
    margin-top: 24px;
    width: 50%;
    height: 10%;
    border: 2px solid #334075;
    background: #334075;
    font-size: 1rem;
    border-radius: 6px;
}

button:disabled {
    background-color: #a8c2e8 ;
    border: 2px solid #334075;
    color: #334075 ;
    cursor: not-allowed;
}

