body {
    margin: 0;
}

.container {
    height: 90vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.header {
    height: 10vh;
}

.board {
    height: 100%;
    width: 50%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.c {
    border: solid 6px black;
}

.cl, .cr {
    border-top: solid 6px black;
    border-bottom: solid 6px black;
}

.tc, .bc {
    border-left: solid 6px black;
    border-right: solid 6px black;
}

button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
}

